* {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

body {
  background: #d4d9dd;
  background-image: url("images/dark-honeycomb.png");
}

header {
  padding: 2%;
}

h1 {
  text-align: center;
  color: rgb(255, 162, 0);
}

#menu {
  background-color: transparent;
}

#menu nav {
  background-color: transparent;
}

#menu a {
  background-color: transparent;
  color: rgb(255, 162, 0);
}

.video {
  position: relative;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  /* width: 200px; */
}

.video strong {
  color: rgb(255, 162, 0);
}

.video p {
  color: white;
}

.thumbnail {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  width: 200px;
}

.thumbnail img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: transparent;
}

.thumbnail:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-play-circle:hover {
  color: #eee;
}

#galeria {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
